# server specific envs
SERVER_LOGFILE="log.txt"
SERVER_PORT=8080

TOKEN_SIGNING_KEY="token_signing_key"

# postgresql database envs
POSTGRES_USER="watch-list-server"
POSTGRES_PASSWORD="watch-list-server"
POSTGRES_HOST="postgres"
POSTGRES_PORT="5432"
POSTGRES_DB="watch-list-server"

# environment variable used by elasticsearch client
ELASTICSEARCH_URL="http://elasticsearch:9200"
ELASTICSEARCH_INDEX_MOVIES=movies
ELASTICSEARCH_INDEX_SERIESES=serieses